.App {
  text-align: center;
  font-family: sans-serif;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

.menu .list{
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40%;
}
.menu a{
  color: black;
  text-decoration: none;
  
}

.column{
  display: flex;
  flex-direction: column;
  
}
.row{
  display: flex;
  flex-direction: row;
}
*{
  margin: 0%;
  padding: 0%;
}
.gray{
  background-color: rgb(225, 225, 225);
}
.black{
  background-color: black;
}
.reverse{
  flex-direction: row-reverse;
}
img{
  width: 100%;
}


/*footer*/
.footer{
  height: 40vh;
  color: white;
  display: flex;
  justify-content: space-between ;
  padding: 50px 0; 
}
.footer .icon img{
  
  width: 30px;
}
.footer .icons{
  display: flex;
  justify-content: space-between;
}
.footer .heading{
  margin-bottom: 25px;
}